@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 400px;

    background-color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

header h1 {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-top: 25px;
}

header {
    background-color: #000000;
    padding: 3px 0 0 0;
}

.box__size {
    width: 940px;
    position: relative;
    margin: 0 auto;
}

h1 img {
    width: 30px;
}

nav {
    position: absolute;
    top: 20px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
}

nav a:hover {
    color: grey;
    font-size: 13.5px;
}

#logo-principal {
    width: 60px;
    position: relative;
    top: 5px;
    left: -12px;
    margin: 3px 0;
}

#banner {
    width: 100%;
    padding: 0;
    margin: 0;

}

#logo {

    min-width: 10rem;
    max-width: 20rem;
    width: 10rem;
    margin: 20px;

}

p {
    color: #ffffff;
    font: 13px;
    margin: 5px;
    padding: 10px;
    text-align: justify;
}

.info p {
    display: inline-block;
    width: 40%;
    vertical-align: top;
    margin-right: 10%;
}

.info h2 {
    color: #ffffff;
    text-align: center;
}

#imginfo {
    width: 40%;
    margin: 20px;
}



footer {
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    font-size: 10px;
}

footer img {
    width: 40px;
}